.gift-float-animation {
  animation:
    giftFloat
    2.2s
    ease-in-out
    infinite;
}

@keyframes giftFloat {
  0%,
  100% {
    transform:
      translateY(0)
      scale(1);
  }

  50% {
    transform:
      translateY(-7px)
      scale(1.035);
  }
}